/*General css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Helvetica, sans-serif;
}

/*ultility classes*/
/*Utility classes*/
.btn-struct{
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 10.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-attrs{
    background: #242424;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    width: 339px;
    height: 76px;
}



/*started div*/

.started{
    width: 100%;
    height: 1000px;
    display: flex;
    color: #FFFFFF;
}

.started .left{
    background: url(./assets/left.png);
    width: 50%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2em;
    position: relative;
}




.started .left .nav-bar{
    top: 50px;
    left: 50px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: absolute ;
}
.started .left .nav-bar .logo{
    font-weight: 700;
    font-size: 3rem;
    line-height: 37px;
}
.started .left .left-content{
    top: 600px;
    text-align: right;
    position: absolute;
    width: 96%;
}
.started .left .thoughtful{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 110px;
    letter-spacing: 0.05em;
   
}
.started .right{
    background: url(./assets/right.png);
    width: 50%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2em;
}
.started .right .moto-section{
    margin: 0 auto;
    text-align: right;
    margin-top: 25.1em;
    margin-right: 10%;
    display: flex;
    justify-content: right;
}
.started .right .moto-section .moto-sent{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 150%;
    max-width: 18em;
}
.started .right .right-content{
    top: 600px;
    text-align: left;
    position: absolute;
   
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
}
.started .right .right-content .gifting{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 110px;
    letter-spacing: 0.05em;
}
.started .right .right-content .made-easy{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
}
.started .right .right-content .btn-margs{
    margin-top: 1em;
}



/*finding gifts section*/
.find-gifts{
    width: 100%;
    height: 1200px;
    display: flex;
    color: black;
    display: flex;
}
.find-gifts .left-find-gift{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.find-gifts .left-find-gift .Lcontainer{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.find-gifts .left-find-gift .head{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
}
.find-gifts .left-find-gift .desc{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.find-gifts .right-find-gift{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.find-gifts .right-find-gift .shape{
    height: 370px;
    width: 240px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 120px 120px  120px 120px;
}
.find-gifts .right-find-gift .Rcontainer{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 1000px;
    width: 600px;
}
.find-gifts .right-find-gift .Rcontainer .img1{
    background: url(./assets/buyimg1.png);
}
.find-gifts .right-find-gift .Rcontainer .img2{
    background: url(./assets/buyimg2.png);
}
.find-gifts .right-find-gift .Rcontainer .img3{
    background: url(./assets/buyimg3.png);
}


/*#################### how we work section ######################*/
.wework{
    border: 2px solid lightgreen;
}
.wework .head{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.05em;
    border: 2px solid red;
}
.wework .card{
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    width: 425px;
    height: 271px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em 5em;
}
.wework .card-num{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: #CD1315;
}
.wework .card-desc{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #242424;
}