/*General css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Helvetica, sans-serif;
}

/*ultility classes*/
/*Utility classes*/
.btn-struct{
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 10.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-attrs{
    background: #242424;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    width: 339px;
    height: 76px;
}

.back-color-pink{
    filter: invert(92%) sepia(8%) saturate(2903%) hue-rotate(298deg) brightness(102%) contrast(87%);
}


/*started div*/

.started{
    width: 100%;
    height: 1000px;
    display: flex;
    color: #FFFFFF;
}

.started .left{
    background: url(./assets/left.png);
    width: 50%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2em;
    position: relative;
}




.started .left .nav-bar{
    top: 50px;
    left: 50px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: absolute ;
}
.started .left .nav-bar .logo{
    font-weight: 700;
    font-size: 3rem;
    line-height: 37px;
}
.started .left .left-content{
    top: 600px;
    text-align: right;
    position: absolute;
    width: 96%;
}
.started .left .thoughtful{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 110px;
    letter-spacing: 0.05em;
   
}
.started .right{
    background: url(./assets/right.png);
    width: 50%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2em;
}
.started .right .moto-section{
    margin: 0 auto;
    text-align: right;
    margin-top: 25.1em;
    margin-right: 10%;
    display: flex;
    justify-content: right;
}
.started .right .moto-section .moto-sent{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 150%;
    max-width: 18em;
}
.started .right .right-content{
    top: 600px;
    text-align: left;
    position: absolute;
   
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
}
.started .right .right-content .gifting{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 110px;
    letter-spacing: 0.05em;
}
.started .right .right-content .made-easy{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
}
.started .right .right-content .btn-margs{
    margin-top: 1em;
}



/*finding gifts section*/
.find-gifts{
    width: 100%;
    height: 1200px;
    display: flex;
    color: black;
    display: flex;
    border: 2px solid red;
    display: flex;
    justify-content: center;
}
.find-gifts .left-find-gift{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.find-gifts .left-find-gift .Lcontainer{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.find-gifts .left-find-gift .head{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
}
.find-gifts .left-find-gift .desc{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.find-gifts .right-find-gift{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.find-gifts .right-find-gift .shape{
    height: 370px;
    width: 240px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 120px 120px  120px 120px;
}
.find-gifts .right-find-gift .Rcontainer{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 1000px;
    width: 600px;
}
.find-gifts .right-find-gift .Rcontainer .img1{
    background: url(./assets/buyimg1.png);
}
.find-gifts .right-find-gift .Rcontainer .img2{
    background: url(./assets/buyimg2.png);
}
.find-gifts .right-find-gift .Rcontainer .img3{
    background: url(./assets/buyimg3.png);
}


/*#################### how we work section ######################*/
.wework{
    height: 1000px;

    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.wework .card-cont{
    border: 2px solid green;
    width: 90%;
    max-width: 2000px;
    margin: auto;
    height: 100%;
    position: relative;
}
.wework .head{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.05em;
}
.wework .card{
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em 5em;
}
.wework .card-num{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: #CD1315;
}
.wework .card-desc{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #242424;
}
.wework .c1{
    position: absolute;
    top: 130px;
    left: 0;
}
.wework .c2{
    position: absolute;
    top: 520px;
    left: 50%;
    transform:translate(-50%,-50%);
}
.wework .c3{
    position: absolute;
    top: 220px;
    right: 0;
}
.wework .img-prop{
    width: 50px;
    height: 50px;
}
.wework .img1{
    position: absolute;
    top: 410px;
    left: 26%;
}

.wework .img2{
    position: absolute;
    top: 310px;
    left: 60%;
    
}
.wework .img3{
    position: absolute;
    top: 500px;
    right: 25%;
}
.wework .back-img1{
    position: absolute;
    top: 550px;
    /* width: 100em;
    height: 30em; */
}
.wework .back-img2{
    position: absolute;
    top: 95px;
    /* left: 74; */
    right:0;
}

/*Gifts for everyone section*/
.for-everyone{
    margin-top: 100px;
    max-height: 1000px;
    border: 2px solid red;
}
.for-everyone .head{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 0.02em;
}
.for-everyone .img-showcase{
     display: flex;
    justify-content:center;
    max-width: 100%; 
    border: 2px solid cyan;
    margin: 0 auto;
    max-height: 800px;
    width: 100%;
    max-width: 1920px;
    margin-top: 8rem;
    position: relative;

}
.for-everyone .img-showcase .img-cont{
    width: 25%;
    border: 2px solid red;
    position: relative;

}
.for-everyone .img-showcase .img-cont img{
    width: 100%;
    height: 100%;
   

}
.showcase-btn-struct{
    width: 214px;
    height: 79px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    background: #242424;
    text-decoration: none;
    border-radius: 10.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-everyone .img-showcase .showcase-btn1{
    position: absolute;
    left: 48%;
    transform: translate(-50%,-50%);
    top: 86%;
    z-index: 1;
}
.for-everyone .img-showcase .showcase-btn2{
    position: absolute;
    left: 48%;
    transform: translate(-50%,-50%);
    top: 86%;
    z-index: 1;
}
.for-everyone .img-showcase .showcase-btn3{
    position: absolute;
    left: 48%;
    transform: translate(-50%,-50%);
    top: 86%;
    z-index: 1;
}
.for-everyone .img-showcase .showcase-btn4{
    position: absolute;
    left: 48%;
    transform: translate(-50%,-50%);
    top: 86%;
    z-index: 1;
}
.for-everyone .showcase-gradient{
    background: linear-gradient(180deg, rgba(36, 36, 36, 0.04) 0%, #242424 100%);
    height: 40%;
    width: 100%;
    border: 2px solid violet;
    position: absolute;
    bottom: 1px;
    z-index: 0;
}

/* ################# footer ################# */
.footer{
    width: 100%;
    height: 483px;
    background: #242424;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
    border: 2px solid cyan;
    height: 60%;
    width: 80%;
}
.footer .left-foot{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .left-foot .head{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.02em;

}
.footer .left-foot .links{
    display: flex;
    flex-direction: column;
}
.footer .left-foot .links a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}
.footer .left-foot .copy-right{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.footer .right-foot{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid green;
}
.footer .right-foot .email{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 15px;
}
.footer .right-foot .num{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}